.property {
  .active {
    border-left: 3px solid #FF5960 !important;
    background-color: #0f162d !important;
  }
  .side-icon-bar {
    position: relative;
    top: -10px;

    min-height: 100vh;
  }
}

.dashboard-content-area {
  position: relative;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1024px) {
  .row.dashboard {
    .col.dashboard-content-area {
      width: calc(100% - 63px);
    }
    .col.property {
      width: 50px;
    }
  }
}

.hint-error {
  color: red;
  font-size: 11px;
}

// New Sidebar styling
.side-icon-bar a.SideBar__link {
  padding: 21px 14px;
}

.SideBar {
  &__link {
    border-left: 3px solid transparent;
    position: relative;
    &.active {
      border-left: 3px solid #FF5960 !important;
      background-color: #0f162d !important;
    }
  }
}

.SideBar__icon {
  display: none;
}

@mixin iconStyles($xPosition) {
  &.takeover-icon {
    background-position: $xPosition 0;
  }
  &.property-icon {
    background-position: $xPosition -100%;
  }
  &.people-icon {
    background-position: $xPosition -200%;
  }
  &.payments-icon {
    background-position: $xPosition -300%;
  }
  &.maintenance-icon {
    background-position: $xPosition -400%;
  }
  &.inspections-icon {
    background-position: $xPosition -500%;
  }
  &.keys-icon {
    background-position: $xPosition -600%;
  }
  &.messages-icon {
    background-position: $xPosition -700%;
  }
  &.documents-icon {
    background-position: $xPosition -800%;
  }
  &.vacancy-icon {
    background-position: $xPosition -900%;
  }
}

.PropertySideBar__icon {
  background-image: url('../../assets/images/property-dashboard-side-icons-new.svg');
  $size: 31px;
  height: $size;
  width: $size;
  background-position: 0 0;
  background-size: 200% 1000%;
    @include iconStyles(0);
  &--active.PropertySideBar__icon {
    @include iconStyles(100%);
  }
}

.side-icon-bar.property-side-bar a.SideBar__link {
  padding: 15px 7px;

  &:hover .PropertySideBar__icon{
    @include iconStyles(100%);
  }
}



.view-property-comp {
  input:disabled {
    width: 22px;
  }
  select {
    height: 32px;
  }
}


.maintenance-dashboard-property--inspection{
  .-pagination{
    display: none !important;
  }
  .rt-tbody .rt-tr {
    div:nth-child(2),div:nth-child(3) {
      padding-left: 0px;
    }
  }
  .DA-PaginationContainer{
    position: relative;
    background: white;
    border-top: 1px solid #f3f3f2;
    height: 55px;
  }

}
