@import "../../../assets/styles/themeStyles";

.access_tabs.row {
  padding-left: 49px;
}

.access_preview {
  border-radius: 8px;
  background-color: #cddbe23d;
  padding: 20px;
  margin-bottom: 20px;
  border: none;
  width: 100%;
  outline: none;
  font-family: $different-primary-font, 'sans-serif';
  line-height: 18px;
  font-size: 14px;
  &__text {
    font-family: $different-primary-font, 'sans-serif';
    line-height: 18px;
    white-space: pre-line;
  }
}