@import '../../../assets/styles/themeStyles';

$font: $different-primary-font;
$font-medium: $different-primary-font-medium;
$font-bold: $different-primary-font-bold;
$red: $different-red;
$amber: #ffa052;
$green: #2ce8ae;

.TOTitle {
  height: 21px;
  color: #3a424f;
  font-family: $font-medium;
  font-size: 18px;
  font-weight: 500;
  margin-top: 0;
  display: inline-block;
  &__main {
    color: #2de8ae;
    font-size: 22px;
    padding-right: 20px;
    &--error {
      color: $red;
    }
    &--amber {
      color: #ffa151;
    }
  }
  &__percent {
    border-radius: 8px;
    background-color: $red;
    padding: 8px;
    color: #fff;
    font-family: $font-bold;
    font-weight: 700;
    margin: 0 5px;

    &--done {
      background-color: $green;
    }
    &--progress {
      background-color: $amber;
    }
  }
}

.TODashboard {
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 50px;
  padding-top: 30px;
}

.TOList {
  &__title {
    color: #000000;
    font-family: $font-medium;
    font-size: 14px;
    font-weight: 500;
    
  }
}

.DA-CheckboxItem__label.TOItem {
  /* Style for "Confirm ma" */
  color: #515f6c;
  font-family: $font;
  font-size: 16px;
  font-weight: 400;
  .TOItem.TOItem--bold {
    font-family: $font-medium;
    font-size: 16px;
    opacity: 0.7;
    color: #000000;
  }
}

.DA-actionLink {
  $color: #44c7f4;
  font-family: $font-medium;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: $color;
  border-bottom: $color 1px solid;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  &--sub {
    $color: #2de8ae;
    color: $color;
    border-bottom: $color 1px solid;
  }
}

.DA-CheckboxItem.DA-CheckboxItem--ta {
  height: auto;
}

.TA-item {
  margin-bottom: 20px;

  &--tenantInspection {
    margin-bottom: 8px;
  }
  &__content {
    padding-left: 43px;
    padding-top: 15px;
    &--bondRef {
      padding-top: 8px;
    }
    &--edit {
      margin-top: 16px;
    }
    &--dates {
      padding-top: 4px;
    }
    &--datesValidation {
      padding-top: 0;
    }
  }

  // checked styles
  .DA-CheckboxItem__checkbox:checked ~ span{
    opacity: .5;
  }
  .DA-CheckboxItem__checkbox:disabled ~ span{
    opacity: .5;
  }
}
.add-person-form-ta {
  padding: 0;
  margin: 35px;
  background-color: #ffffff;
}

@keyframes spin {
  0% {
     transform: rotate(0deg)
   }
  100% {
  transform: rotate(360deg);
     }

}

.DA-Uploader {
  height: 47px;
  border-radius: 8px;
  border: 1px dashed rgba(#000000, .2);
  position: relative;
  display: inline-block;
  padding: 20px;
  background-image: url('../../../assets/images/upload.png');
  background-repeat: no-repeat;
  background-size: 27px 32px;
  background-position: 50% 20px;
  &.hasFile {
    background-color: rgba(#d1d1d1, .2);
    background-image: url('../../../assets/images/document.png');
  }

  &__loader {
    display: table;
    margin-top: 10px;
    &>* {
      display: table-cell;
      vertical-align: middle;
    }
    &__text {
      color: #9a9ea2;
      font-family: $font;
      font-size: 12px;
      font-weight: 500;
      padding-right: 10px;
    }
    &__img {
      $size: 20px;
      width: $size;
      height: $size;
      animation: spin 700ms linear infinite;
    }
  }
  &__hint {
    color: rgba(0, 0, 0, 0.4);
    font-family: aktiv-grotesk;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    top: 40px;
    margin: 0 auto;
    //display: inline-block;
    text-align: center;
  }

  &__fileName {
    color: #9a9ea2;
    font-family: $font;
    font-size: 12px;
    font-weight: 500;
  }

  @mixin uploaderInnerStyles() {
    &_wrapper {
      display: inline-block;
      float: left;
      width: 160px;
      .DA-Uploader__fileName{
        width: 130px;
      }
    }
  }

  &--bondTransfer {
    width: 149px;
    margin-right: 15px;
    @include uploaderInnerStyles();
  }
  &--keyDocs {
    width: 95px;
    margin-right: 15px;
    @include uploaderInnerStyles();
  }

  &__clear {
    background-image: url('../../../assets/images/crosses.png');
    $size: 10px;
    width: $size;
    height: $size;
    position: absolute;
    $position: 8px;
    top: $position;
    right: $position;
    cursor: pointer;
    background-size: 20px 10px;
    background-repeat: no-repeat;
    &:hover {
      background-position: -10px 0px;
    }
  }

}

input.TA-Input {
  box-shadow: inset 0 -1px 0 #dedede;
  background-color: #ffffff;
  line-height: 32px;
  border: none;
  border-radius: 0;
  outline: none;
  font-size: 14px;
  opacity: 0.8;
  font-weight: 400;

  &--bond-ref {
    margin-right: 25px;
  }
}

.TO-date-picker {
  $size: 20px;
  position: relative;
  margin-right: 15px; // from avocode
  display: inline-block;
  &:before {
    content: '';
    display: inline-block;
    height: $size;
    width: $size;
    position: absolute;
    left: 0;
    bottom: 13px;
    background-image: url('../../../assets/images/calender.png');
    background-repeat: no-repeat;
    background-position: top center;
  }
  input {
    //padding-left: $size + 5px;
  }
  input[disabled] ~ div>hr {
    display: none;
  }

  &--time {
    &:before {
      background-image: url('../../../assets/images/clock.png');
    }
  }
}

.clear-fix {
  clear: both;

  &--TA-item {
    margin-bottom: 20px;
  }
}

.TOAutoMail {
  /* Style for "PM transfe" */
  color: rgba(#000000, 0.5);
  font-family: $font;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
  &:last-of-type {
    margin-bottom: 0;
  }
  &:before {
    $size: 8px;
    width: $size;
    height: $size;
    content: '';
    display: inline-block;
    position: absolute;
    background-color: #c7c7c7;
    left: ($size + 12px) * -1;
    top: 5px;
    border-radius: 50%;
  }
  &__list {
    list-style: none;
  }
}

.TA-infoText {
  //min-width: 59px + 231px;
  min-width: 152px;
  margin-right: 25px;
  //height: 16px;
  opacity: 0.8;
  color: #000000;
  font-family: $font;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  &--checked {
    opacity: 0.5;
    color: #515f6c;
    //font-size: 16px;
    font-weight: 400;
  }
}

.TA-nolease-message {
  color: rgba(#ffa151, .6);
  font-family: $font-bold;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}