@import "../../../assets/styles/themeStyles";

.section-header.reports-header{
  background-color: #fff0;
  margin-bottom: 20px;
  min-height: 44px;
  .selectpicker{
    font-size: 15px;
    color: #686868;
    padding: 9px 15px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F7F7F7 100%);
    box-shadow: inset 0 -1px 0 0 #C8C8C8;
  }
  .btn-download{
    img{
      margin-bottom: -5px;
      padding-right: 10px;
    }
    color: #9ECBE4;
    border: 1.5px solid #9ECBE4;
    padding: 8px 30px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 900;
    text-decoration: none;
    float: right;
    &:hover {
      border: 1.5px solid #9edfff;
      color: #9edfff;
    }
    &:active {
      color: #9ECBE4;
      border: 1.5px solid #9ECBE4;
    }
  }
  .btn-map{
    img{
      height: 21px;
      margin-bottom: -5px;
      padding-right: 10px;
    }
    color: #fff;
    background: #A8D1E7;
    border: 1.5px solid #A8D1E7;
    padding: 8px 30px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 900;
    text-decoration: none;
    float: right;
    margin-right: 10px;
    cursor: pointer;
    &:hover {
      background: #9ECBE4;
    }
    &:active {
      background: #A8D1E7;
    }
  }
}

.section-header.reports-title{
  h1{
    font-weight: 300;
    span{
      color: #fff;
    }
  }
}

.ReportsTable{
  background-color: #fff;
  .wd-5{
    width: 5% !important;
  }
  .wd-10{
    width: 10% !important;
  }
  .wd-15{
    width: 15% !important;
  }
  .wd-20{
    width: 20% !important;
  }
  .wd-25{
    width: 25% !important;
  }
  .wd-30{
    width: 30% !important;
  }
  .wd-35{
    width: 35% !important;
  }
  .wd-40{
    width: 40% !important;
  }
  .wd-50{
    width: 50% !important;
  }
  .wd-100{
    width: 100% !important;
  }
  .rt-thead  {
    .rt-th, .rt-td {
      padding: 17px 0px 17px 52px;
      flex: none !important;
    }
  }
  .rt-tbody .rt-td {
    padding: 20px 0px 20px 35px;
    color: #000;
    cursor: default;
    flex: none !important;
  }
  .rt-tbody .rt-td.clickable {
    color: #002fa4;
    cursor: pointer;
  }
  .action_table_header::before{
    content: none !important;
  }
}

.btn-propertiesavailable-actions{
  background: none;
  border: none;
  cursor: pointer;
  img{
    height: 20px;
    width: 20px;
  }
}

.report-dialog{
  width: 400px !important;
  .model-input{
    height: 32px;
    line-height: 19px;
    opacity: 0.8;
    color: #686868;
    font-size: 14px;
    font-weight: 400;
    background: white;
    border-color: #dfdfdf;
    border-radius: 4px;
    cursor: pointer;
  }
  .timepicker{
    border: 1px solid #dfdfdf;
    padding: 0;
    .text-feild{
      padding: 0;
    }
    .clock-icon{
      position: absolute;
      right: 20px;
      padding: 5px 15px;
    }
  }
  .datepicker{
    padding: 0;
  }
  .report-modal-action{
    text-align: right;
    padding: 0px 8px 20px 8px !important;
  }
  .note-action{
    text-align: right;
  }
  .hint-error{
    margin-top: 0px;
    margin-left: 31%;
  }
  hr{
    display: none;
  }
  .title {
    color: #000000;
    font-size: 16px;
  }
  .address {
    font-size: 24px;
    margin: 5px 0px 20px;
    color: #000000;
  }
  label {
    opacity: 0.5;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    padding-top: 5px;
  }
  .lbldate {
    height: 30px;
  }
  .access_preview{
    border-radius: 8px;
    background-color: #fff;
    color: #7F7F7F;
    padding: 0;
    margin-bottom: 20px;
    border: none;
    width: 100%;
    outline: none;
    font-family: muli, "sans-serif";
    line-height: 18px;
    font-size: 14px;
    .access_preview__text{
      margin: 0;
    }
    &.access_preview__text_editable{
      border: 1px solid #DEDEDE;
      padding: 5px;
    }
  }
  .ant-calendar-picker-input{
    opacity: 0.8;
    color: #686868;
    font-size: 14px;
    width: 100%;
    padding-right: 3px;
  }
  .ant-calendar-picker-icon{
    right: 2px;
  }
}

.report-toast{
  width: 80%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 25%;
}

.report-map-dialog{
  width: 100% !important;
  max-width: 100% !important;
  height: 100%;
  position: absolute !important;
  top: -65px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  .dialog-content{
    display: contents;
  }
  .map_left{
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    height: 100%;
    overflow: auto;
    .close-map{
      position: fixed;
      right: 20px;
      top: 10px;
      cursor: pointer;
    }
    .address_list{
      padding: 0 10px;
      margin-top: 60px;
      .map_item{
        cursor: pointer;
        .map_pin{
          background: #000;
          display: inline-block;
          border-radius: 14px 14px 14px 0;
          width: 9px;
          height: 9px;
          border: 7px solid #000;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
          position: relative;
          -webkit-box-shadow: -1px 1px 2px rgba(0,0,0,.2);
          -moz-box-shadow: -1px 1px 2px rgba(0,0,0,.2);
          box-shadow: -1px 1px 2px rgba(0,0,0,.2);
          margin-bottom: -4px;
        }
        .map_pin_value{
          position: absolute;
          left: 0;
          top: -2px;
          transform: rotate(45deg);
          color: #fff;
          font-size: 12px;
        }
        .address{
          margin-left: 10px;
        }
      }
    }
    .address_list_bottom{
      text-align: right;
      margin-bottom: 20px;
    }
  }
  .map_point{
    margin-top: -15px;
    &.selected{
      margin-top: -100px;
    }
    .placeholder{
      background: #000;
      display: inline-block;
      border-radius: 14px 14px 14px 0;
      width: 9px;
      height: 9px;
      border: 7px solid #000;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      position: relative;
      -webkit-box-shadow: -1px 1px 2px rgba(0,0,0,.2);
      -moz-box-shadow: -1px 1px 2px rgba(0,0,0,.2);
      box-shadow: -1px 1px 2px rgba(0,0,0,.2);
      margin-top: 10px;
      margin-bottom: -4px;
      .placeholder_text{
        position: absolute;
        left: 0;
        top: -2px;
        transform: rotate(45deg);
        color: #fff;
        font-size: 12px;
      }
    }
    .popup-point{
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid #fff;
      position: absolute;
      margin-left: -6px;
      margin-top: -2px;
    }
    .popup{
      width: 200px;
      margin-left: -90px;
      background: #fff;
      color: #3A424F;
      font-weight: 600;
      text-align: center;
      -webkit-box-shadow: 0 4px 2px 0 rgba(0,0,0,.2);
      -moz-box-shadow: 0 4px 2px 0 rgba(0,0,0,.2);
      box-shadow: 0 4px 2px 0 rgba(0,0,0,.2);
      display: none;
      &.visible{
        display: block;
      }
      .header{
        background: #F4F4F4;
        padding: 5px;
      }
      .footer{
        padding: 5px;
        .available_date{
          color: #2DE8AE;
        }
        .available_date{

        }
        .oval::before {
          content: '\25CF';
          color: #CBCBCB;
          margin: 0 7px;
          background-color: transparent;
        }
      }
    }
  }
}
