.documentsEyeIcon {
    margin-top: 4px;
}

@keyframes downloading {
    0% {
        background-position-y: -23px
    }
    100% {
        background-position-y: 0px;
    }
}
.download-icon--downloading {
    //border: 1px solid red;
    position: relative;

    @mixin position() {
        content: '';
        display: inline-block;
        width: 12px;
        height: 10px;
        //border: 1px solid #000000;
        position: absolute;
        left: 5px;
        top: -7px;
        height: 17px;
        background: #fff;
    }
    &:before {
        @include position();

        //animation: downloading 1000ms infinite;
        //transform-origin-y: bottom;
        //background-image: url('../../../assets/images/install.png');
        //background-position-x: -6px;
    }
    &:after {
        @include position();
        animation: downloading 1000ms infinite;
        //transform-origin-y: bottom;
        background-image: url('../../../assets/images/install_arrow.png');
        background-position-x: -5px;
        background-repeat: no-repeat;
    }
}

.googleDocViewer {
    height: 84vh;
    min-width: 500px;
}

.ReactTable .rt-thead .rt-th:before, .ReactTable .rt-thead .rt-td:before {
    top: 0px !important;
    height: 0px !important;
}

.icon-center {
  padding: 15px !important;
}

.button-section {
  background-color: white;
  padding: 0px;
}

.document-add-modal-root {
  width: 40% !important;
  .upload-icon{
      margin-top: -20px;
  }
  .title{
    color: #000000;
    font-size: 16px;
  }
  .address {
    font-size: 24px;
    margin: 15px 0px 30px;
    color: #000000;
  }
  .document-add-modal-body {
    padding: 25px 50px !important;
  }
  .document-add-modal-action{
    padding: 20px 0px 25px 28% !important;
    text-align: left !important;
  }
}
