@import "../../assets/styles/themeStyles";

.document-custom-header {
  width: auto !important;
}

.document-custom-created-at-header {
  margin-left: 100px;
}

.document-custom-document-header {
  margin-left: 38px;
}

.different-table-header-blank {
  &:before {
    position: relative;
    display: block;
    top: 6px;
    content: '' !important;
    left: -17px;
    width: 9px !important;
    height: 6px !important;
    background-color: white;
  }
}

.ReactTable .rt-tbody .rt-td {
  border: none !important;
  padding: 20px 35px;
}

.ReactTable .rt-thead.-header {
  box-shadow: none !important;
}

.ReactTable .rt-thead .rt-tr {
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
}

.ReactTable .rt-thead .rt-th{
  border: none !important;
}

.ReactTable .rt-thead .rt-th, .ReactTable .rt-thead .rt-td {
  padding: 17px 52px;
  height: 50px;
  background-color: #ffffff;
  line-height: 16px;
  color: #000000;
  font-family: $different-primary-font;
  font-size: 14px;
  font-weight: 500;

  &:before {
    position: relative;
    display: block;
    top: 5px;
    content: url('../../assets/images/triangle.png');
    left: -17px;
    width: 9px !important;
    height: 6px !important;
  }
}

.rt-td {
  cursor: pointer;
  height: 50px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 10px;
  letter-spacing: normal;
  color: #002fa4;
  border: none;
}

.ReactTable.dashboardPropertyTable {
  .rt-thead .rt-th:before, .rt-thead .rt-td:before {
    top: 3px;
  }
  .rt-thead .rt-th,
  .rt-thead .rt-td,
  .rt-td {
    height: 40px;
    line-height: 0;
  }
}

.ReactTable {
  border: none !important;
  width: 100%;
  margin-top: 5px;
}

.rt-th {
  text-align: left;
  color: $different-font-color;
}

.content-dashboard {
  //background-color: white;
  position: relative;
  top: 41px;
  left: 69px;
  width:94%;
  margin: -35px 35px 35px 35px;
  margin-left: 0;
  @media (max-width: $break-big-screen) {
    top: 50px;
    left: 50px;
    padding: 10px;
  }
}
.side-icon-bar {
  position: fixed;
  top:$top-bar-height;
  left:0;
  width: 50px;
  background-color: #151e39;
  border-right: solid 2px $different-menu-border-color;
  @media (max-width: $break-big-screen) {
    top: 50px;
    width: 50px;
    height: 900px;
    @media (max-width: 920px) {
      height: 800px;
    }
  }
}

.side-icon-bar a {
  display: block;
  text-align: center;
  font-size: 30px;
  color: $different-menu-font-color;
  text-decoration: none;
  padding: 8px 14px;

  @media (max-width: $break-big-screen) {
    font-size: 20px;
    padding: 12px 14px;
  }
}

.active {
  border-left: 3px solid #FF5960 !important;
  background-color: #0f162d !important;
}

.side-icon-bar a:hover{
  background-color: #0f162d !important;
}
.dashboard {
  position: relative !important;
  @media (max-width: $break-big-screen) {
    overflow: auto;
  }
}

.side-icon-bar {
  height: 105%;
  @media (max-width: $break-big-screen) {
    height: 900px;
    @media (max-width: 920px) {
      height: 800px;
    }
  }
}
