@import "../../../assets/styles/themeStyles";

.add-lease-link {
  height: 16px;
  width: 79px;
  color: #00E6A1 !important;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: right;
  text-decoration: underline;
}

.wide-left-space {
  margin-left: 40px;
}

.people-tab {
  &.people-tab-gray {
    .active-tab, .tab:hover {
    color: #9ecbe4;
    font-weight: 500;
    border-bottom: 3px solid #9ecbe4;
  }

  }
  .button-class {
    color: white;
  }
  .tab {
    padding: 20px 15px 8px 15px;
    line-height: 16px;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 25px;
  }

  .active-tab, .tab:hover {
    color: #9ecbe4;
    font-weight: 500;
    border-bottom: 3px solid #9ecbe4;
  }

  .align-left {
    padding: 15px 35px;
  }

  .add-tenant {
    button {
      margin: 40px 15px 0 0;
      padding: 5px 10px;
      height: 36px;
      border-radius: 10px;
      line-height: 16px;
      color: #ffffff;
      font-family: $different-primary-font;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      background-color: #adc5dc;
      border: none;
      &.save-button {
        background-color: #1bc59a;
        margin-right: 0;
        cursor: pointer;
      }
    }
  }
}

.text_button {
  $color: #1ee590;
  /* Style for "Add owner" */

  height: 16px;
  color: $color;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  /* Text style for "Add owner" */
  letter-spacing: 0.17px;
  display: inline-block;
  cursor: pointer;
  margin-right: 35px;
  padding: 5px;
  ul {
    list-style: none;
    display: inline;
    padding: 0;
    li:nth-child(2){
      border-bottom: 1px solid;
    }
  }
  li {
    display: table-cell;
    img {
      margin-bottom: -3px;
      margin-right: 3px;
    }
  }
}

.row.col-xs-12.person-role-tabs {
  padding-left: 21px;
  margin-top: 9px;
}

.people-tab{
  .end-xs .col-xs-12{
    position: absolute;
    top: 118px;
  }
  .top-margin{
    margin-top: -25px;
  }
}

.owner-sign-link{
  position: absolute;
  left: 67%;
  max-width: 150px !important;
}

.cancel-button{
  margin-left: 259px !important;
  margin-bottom: 20px !important;
}
