@import "../../../assets/styles/themeStyles";

@media screen and (max-width: $break-small-screen) {
  border-top: groove;
}

.icon-bar {
  position: fixed;
  right: 0;
  overflow: hidden;
}

.icon-bar a {
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  padding: 15px 20px;
  &.top-nav-link {
    padding: 12px 16px;
  }

  @media (max-width: $break-big-screen) {
    padding: 12px 14px;
  }

  .user-name {
    text-decoration: none;
    font-size: 14px;
    padding: 4px 0 0 4px;
    color: $different-font-color;
    font-weight: 300;
    @media (max-width: $break-big-screen) {
      display: none;
    }
    span {
      text-decoration: none;
      font-weight: 500;
    }
  }
}

.img-circle {
  border-radius: 50%;
  width: 26px;
  height: 26px;
}

.force-muli {
  font-family: $different-primary-font !important;
  a {
    text-decoration: none;
  }
}

@mixin iconStyles($xPosition) {
  &.dashboard.top-nav-icon {
    background-position: $xPosition 0;
  }
  &.add-property.top-nav-icon {
    background-position: $xPosition -100%;
  }
  &.add-person.top-nav-icon {
    background-position: $xPosition -200%;
  }
}
.top-nav-icon {
  background-image: url('../../../assets/images/dashboard-nav-sprite.png');
  $size: 31px;
  height: $size;
  width: $size;
  background-size: 200% 300%;
  background-position: 100% 0;
    &:hover {
      background-position: 0 0;
    }
    &--active.top-nav-icon {
      @include iconStyles(0);
    }
  @include iconStyles(100%);
}

.top-nav-link:hover {
  .top-nav-icon {
    @include iconStyles(0);
  }
}