.hdInput.hdInput--amount {
    // border: 1px solid red;
    // border: 3px solid green;
    background-image: url('../../../assets/images/dollar-gray.png');
    // background-image: url('../../../assets/images/error.png');
    // background-image: url('../../../assets/images/box.png');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 15px 10px;
    padding-left: 34px;
  }

.hdCcParts {
  display: inline-block;
  padding: 0 7px;
  &:first-of-type {
    padding-left: 0;
  }
}

  // background-image: url('../../../assets/images/dashboard.png');
