@import '~flexboxgrid';
@import '../../../assets/styles/themeStyles';
//$error: url("../../../assets/images/key.png");
@mixin input() {
  height: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  background-color: #ffffff;
  color: #3a424f;
  font-size: 16px;
  border: none;
  &::placeholder {
    color: #aab7c5;
  }
}
.hdContainer {
  @extend .col-lg-6,.col-md-8, .col-sm-8, .col-xs-12;
}
@mixin leftCol() {
  @extend .col-sm-3, .col-md-2, .col-lg-2, .col-xs-3;
}
@mixin rightCol() {
  @extend .col-lg-10,.col-md-10, .col-sm-7, .col-xs-7;
  // background-color: #1cc59a;
  // border: 2px dashed #000;
}
.hdLabel {
  // @extend .col-sm-2;
  @include leftCol();
  width: 66px;
  height: 25px;
  color: #6a7c93;
  font-size: 16px;
  text-align: left;
}
.hdValueLabel {
  @include rightCol();
  height: 25px;
  color: #3a424f;
  font-size: 16px;
  text-align: left;
  padding-left: 0;
}
.hdInput {
  //width: 550px;
  @include input();
  @include rightCol();
  // background-image: url('../../../assets/images/dashboard.png');
  &--amount {
    // border: 1px solid red;
    // background-image: url('../../../assets/images/dollar-icon.png');
  }
}

// $image: url('../../../assets/images/dashboard.png');
.hdPropertyInput {
  // background-image: $image;

  @include rightCol();
  position: relative;
  padding: 0;
  &.col-sm-10 {
    padding: 0;
  }


}

.hdFormGroup {
  margin-bottom: 30px;
  &--relative {
    position: relative;
  }
  &--property {
    margin-bottom: 30px + 16px;
  }
  &--creditCard {
    margin-bottom: 30px - 10px;
  }
}
.hdForm {
  margin-top: 64px;
}
.hdTitle {
  width: 328px;
  height: 34px;
  color: #3a424f;
  font-size: 22px;
  font-weight: 600;
  text-align: left;
  margin-top: 110px;
  &--success {
    text-align: center;
    width: 485px;
    height: 34px;
    color: #3a424f;
    font-size: 22px;
    font-weight: 600;
    em {
      color: #ff0000;
    }
  }
}
.hdButton.button {
  $size: 11px;
  padding-top: $size;
  padding-bottom: $size;
  text-align: center;
  height: auto;
  margin-left: 20px;
  cursor: pointer;

  &.hdButton--newPayment {
    width: 220px;
  }
  &.hdButton--center {
    margin: 0 auto;
  }
}

.hdSuccessImage {
  $size: 30px;
  //height: $size;
  //width: $size;
}

.hdTextArea {
  width: 100%;
  height: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  background-color: #ffffff;
  border: none;
  outline: none;
  color: #aab7c5;
  font-size: 16px;
  padding: 15px 20px;
}

.display-none {
  display: none;
}

.hdCreditCardExpiry, .hdCreditCardNumber, .hdCreditCardName {
  @include input();
  width: 100%;
  padding: 0 8px;
  margin-left: -8px;
}

.hdLink {
  height: 16px;
  color: #1cc59a;
  font-family: $different-primary-font;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
}

.hdSuccessControlls {
  margin-top: 50px;
}


.hdValidation {
   text-align: left;
  position: relative;
  padding-left: 15px;
  //background: $error;
  color: red;
  &:before {
    content: '';
    $size: 10px;
    width: $size;
    height: $size;
    display: inline-block;
    background-size: 100%;
    position: absolute;
    top: 2px;
    left: 0;
    //background-image: url('../../../assets/images/error.png');
  }
  &--card {
    // margin-top: 15px;
    margin-bottom: 10px;
  }
  &__wrapper {
    padding: 10px 10px 0 10px;
    &--normal {
      @extend .col-sm-offset-2, .col-sm-10;
    }
    &--card_holder {
      @extend .col-sm-12;
    }

  }

  &--property {
    margin-top: 10px;
  }

  &--card_holder {
    //border: 1px solid deeppink;
  }


}


.dev_display {
  width: 300px;
  position: fixed;
  top: 77px;
  left: 0;
  border: 4px solid #ff5a61;
  z-index: 100;
  word-break: break-word;
  background-color: #000;
  color: #fff;
  font-family: monospace;
  word-spacing: 1em;
  letter-spacing: .1em;
  line-height: 1.5em;
  padding: 18px;
  opacity: 0.6;
  cursor: move;
  display: block;
}

.hdCreditCardInput {
  @include input();
  padding: 0 13px 0 2px;
  margin-left: -8px;
}

[class*="col"].col-no-padding {
  padding: 0;
}

.hdCreditCard {
  &__input {
    margin-bottom: 10px;
  }
  &__wrapper {
    @include rightCol();
  }

}

.HdCCParts {
  display: inline-block;
  float: left;
  $expiry: 60%;
  $cvc: 100% - $expiry;
  $padding: 10px;
  &--expiry {
    width: calc(60% - 30px);
  }
  &--cvc {
    width: $cvc;
    float: right;
  }
}