@import "../../assets/styles/themeStyles";
body {
  overflow-x: hidden;
}
.web-quote {
  position: relative;
  top: 70px;
  width: 101%;
  background-image: url('../../assets/images/maintenance-bg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 30px 0 200px 0;
  background-color: #ffffff;
  path {
    display: none !important;
  }

  .big-screen {
    @media screen and(max-width: $break-big-screen){
      display: none;
    }
  }
  .small-screen {
    @media screen and(min-width: $break-big-screen){
      display: none;
    }
  }

  @media screen and(min-width: $break-big-screen){
    padding-bottom: 300px;
  }

  label, p {
    @media screen and (max-width: $break-big-screen){
      line-height: 34px !important;
      font-size: 32px !important;
      bottom: 5px !important;
    }
  }

  input, textarea, button, h1{
    @media screen and (max-width: $break-big-screen){
      line-height: 46px !important;
      font-size: 42px !important;
    }
  }

  input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
    -moz-appearance:textfield !important;
  }


  .request {
    .boxed-content {
      border: 1px solid #dce0e0;
      background-color: #ffffff;
      padding: 30px;
      min-height: 600px;
      @media screen and (max-width: $break-big-screen){
        box-shadow: 0 1px 1px rgba(175, 175, 175, 0.5);
        border-radius: 1px;
        margin-top: 30px;
      }

      h1 {
        line-height: 22px;
        color: #333b3f;
        font-size: 20px;
        @media screen and (max-width: $break-big-screen){
          line-height: 21px;
          font-size: 18px;
        }
      }

      p {
        color: #333b3f;
        font-size: 16px;
        line-height: 24px;
        text-align: justify;
        @media screen and (max-width: $break-big-screen){
          line-height: 24px;
          font-size: 15px;
        }
      }
    }

    .maintenance-detail{
      margin-right: 20px;
      @media screen and (max-width: $break-big-screen){
        margin-right: 0;
      }
    }

    .maintenance-quotation {
      margin-left: 10px;
      @media screen and (max-width: $break-big-screen){
        margin-left: 0;
      }
      .save-button-row {
        float: right;
        @media screen and (max-width: $break-big-screen){
          float: inherit;
          .save-button{
            width: 100%;
            padding: 15px auto;
          }
        }
      }
      .field-row {
        margin-top: 24px;

        @media screen and (max-width: $break-big-screen){
          margin-top: 42px;
          line-height: 46px !important;
          font-size: 42px !important;
        }

        .save-button {
          color: #ffffff;
          font-size: 16px;
          line-height: 20px;
          border-radius: 4px;
          background-color: #008751;
          padding: 15px 30px;
          border: none;
        }

        .total-label {
          padding-top: 4px;
          line-height: 19px;
          color: #333b3f;
          font-size: 16px;
          @media screen and (max-width: $break-big-screen){
            padding-top: 4px;
            line-height: 46px !important;
            font-size: 42px !important;
          }
        }
        .total-amount {
          padding-top: 8px;
          line-height: 19px;
          color: #333b3f;
          font-size: 16px;
          @media screen and (max-width: $break-big-screen){
            padding-top: 4px;
            line-height: 46px !important;
            font-size: 42px !important;
          }
        }
        .total-label {
          text-align: right;
        }
        .field-label {
          line-height: 24px;
          font-size: 16px;
          color: #333b3f;
          span {
            color: #fb0007;
          }

          @media screen and (max-width: $break-big-screen){
            line-height: 46px;
            font-size: 42px;
          }
        }

        .other-gst-text {
          padding-top: 5px;
        }
        .gst-text {
          line-height: 11px;
          color: #82888a;
          font-size: 10px;
          @media screen and (max-width: $break-big-screen){
            line-height: 34px !important;
            font-size: 30px !important;
          }
        }

        .gst-text-complete {
          padding-top: 3px;
          line-height: 14px;
          color: #82888a;
          font-size: 12px;
          @media screen and (max-width: $break-big-screen){
            line-height: 34px !important;
            font-size: 30px !important;
          }
        }
        .dollar-sign {
          opacity: 0.4;
          color: #333b3f;
          font-size: 16px;
          line-height: 24px;
          @media screen and (max-width: $break-big-screen){
            line-height: 46px !important;
            font-size: 42px !important;
          }
        }
        .total-dollar-sign {
          padding-top: 4px;
          line-height: 24px;
          color: #333b3f;
          font-size: 16px;
          @media screen and (max-width: $break-big-screen){
            line-height: 46px !important;
            font-size: 42px !important;
          }
        }
      }
    }
  }

  .complete {
    .phone-image {
      content: url('../../assets/images/phoneicon.png');
    }
    .mail-image {
      content: url('../../assets/images/mailicon.png');
    }

    .float-right-button {
      margin: 30px 0;
      float: right;
    }

    .save-button {
      color: #ffffff;
      font-size: 16px;
      line-height: 20px;
      border-radius: 4px;
      background-color: #008751;
      padding: 15px 30px;
      border: none;
    }
    .upper-section {
      background-color: #ffffff;
      margin-bottom: 30px;

      .left-upper {
        @media screen and (min-width: $break-big-screen) {
          padding-right: 0;
        }
      }
      .left-padded {
        @media screen and (min-width: $break-big-screen) {
          padding-left: 2px;
        }
      }
      .right-upper {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        border-left: none;

        @media screen and (max-width: $break-big-screen){
          box-shadow: none;
        }
      }
      .map {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        margin: 0;
      }
      .contact-box {
        border-bottom: 1px solid #dce0e0;
        background-color: #ffffff;
        padding: 30px;
        margin: 0;
        line-height: 16px;
        color: #333b3f;
        font-size: 14px;

        @media screen and (max-width: $break-big-screen) {
          border: 1px solid #dce0e0;
          line-height: 26px;
          font-size: 24px;
        }

        a {
          padding-left: 5px;
          text-decoration: none;
          color: #333b3f;
        }

        .right-text {
          text-align: right;
        }

        .header {
          font-weight: 600;
        }

        .content {
          margin-top: 15px;
          img {
            width: 15px;
            height: 15px;

            @media screen and (max-width: $break-big-screen) {
              width: 28px;
              height: 26px;
            }
          }
        }
      }
      .address-line {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        width: 100%;
        margin: 0;
        padding: 20px 30px;
        line-height: 16px;
        color: #333b3f;
        font-size: 14px;
        strong {
          line-height: 24px;
          font-size: 20px;
        }

        @media screen and (max-width: $break-big-screen) {
          margin-right: auto;
        }

        .get-direction-text {
          a {
            line-height: 14px;
            color: #329d72;
            font-size: 12px;
            text-decoration: none;
            font-weight: 700;
          }
        }

        .right-text {
          text-align: right;
        }
      }
    }

    .item-row {
      margin-bottom: 30px;
    }

    .third-row {
      min-height: 470px;
      margin-right: 0 !important;
    }

    .time-details {
      @media screen and (min-width: $break-big-screen){
        margin-left: 30px;
      }
    }

    .boxed-content {
      border: 1px solid #dce0e0;
      background-color: #ffffff;
      padding: 30px;
      min-height: 470px;
      @media screen and (max-width: $break-big-screen){
        box-shadow: 0 1px 1px rgba(175, 175, 175, 0.5);
        border-radius: 1px;
        margin-top: 30px;
      }

      h1 {
        line-height: 22px;
        color: #333b3f;
        font-size: 20px;
        @media screen and (max-width: $break-big-screen){
          line-height: 21px;
          font-size: 18px;
        }

        span {
          color: #272d30;
        }
      }

      p {
        color: #333b3f;
        font-size: 16px;
        line-height: 24px;
        text-align: justify;
        @media screen and (max-width: $break-big-screen){
          line-height: 24px;
          font-size: 15px;
        }
      }
    }

    .maintenance-detail{
      margin-right: 30px;
      @media screen and (max-width: $break-big-screen){
        margin-right: 0;
      }
    }

    .maintenance-quotation {
      margin-left: 0;

      .save-button-row {
        float: right;
        @media screen and (max-width: $break-big-screen){
          float: inherit;
          .save-button{
            width: 100%;
            padding: 15px auto;
          }
        }
      }
      .cost-area{
        box-shadow: inset 0 -1px 0 rgba(188, 188, 188, 0.5);
        padding-bottom: 15px;
      }

      .field-row {
        margin-top: 55px;

        @media screen and (max-width: $break-big-screen){
          margin-top: 42px;
          line-height: 46px !important;
          font-size: 42px !important;
        }

        .save-button {
          color: #ffffff;
          font-size: 16px;
          line-height: 20px;
          border-radius: 4px;
          background-color: #008751;
          padding: 15px 30px;
          border: none;
        }

        .total-label {
          text-align: right;
          padding-top: 4px;
          line-height: 19px;
          color: #333b3f;
          font-size: 16px;
          @media screen and (max-width: $break-big-screen){
            padding-top: 4px;
            line-height: 46px !important;
            font-size: 42px !important;
          }
        }
        .total-amount {
          text-align: right;
          padding-top: 8px;
          line-height: 31px;
          color: #333b3f;
          font-size: 28px;
          @media screen and (max-width: $break-big-screen){
            padding-top: 4px;
            line-height: 46px !important;
            font-size: 42px !important;
          }
        }
        .field-label {
          line-height: 24px;
          font-size: 16px;
          color: #333b3f;
          span {
            color: #fb0007;
          }

          @media screen and (max-width: $break-big-screen){
            line-height: 46px;
            font-size: 42px;
          }
        }

        .other-gst-text {
          padding-top: 5px;
        }

        .gst-text-complete {
          padding-top: 3px;
          line-height: 14px;
          color: #82888a;
          font-size: 12px;
          @media screen and (max-width: $break-big-screen){
            line-height: 34px !important;
            font-size: 30px !important;
          }
        }
        .dollar-sign {
          opacity: 1;
          color: #333b3f;
          font-size: 16px;
          line-height: 24px;
          @media screen and (max-width: $break-big-screen){
            line-height: 46px !important;
            font-size: 42px !important;
          }
        }
        .total-dollar-sign {
          padding-top: 4px;
          line-height: 24px;
          color: #333b3f;
          font-size: 16px;
          @media screen and (max-width: $break-big-screen){
            line-height: 46px !important;
            font-size: 42px !important;
          }
        }
      }
    }

    .drop-zone-custom-style {
      width: 148px;
      height: 120px;
      text-align: center;
      padding-top: 60px;
      line-height: 28px;
      font-size: 24px;
      background-color: #f6f7f6;
      border: 1px solid #edefed;
      border-radius: 4px;
    }
  }
}