@import '../../assets/styles/themeStyles';
$font: $different-primary-font;
$red: $different-red;
.validate-error {
  &> *{
    float: left;
  }
  &__icon {
    background-image: url('../../assets/images/error.png');
    background-size: contain;
    $size: 12px;
    width: $size;
    height: $size;
    &--hidden {
      background-image: none;
    }
  }
  &__text {
    color: $red;
    font-family: $font;
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
    padding-left: 5px;
    margin: 0;
  }
}