.customAddress-trigger {
  width: 95px;
  cursor: pointer;
  position: absolute;
  left: 650px;
  text-transform: uppercase;
  margin-top: -23px;
  margin-left: -215px;
}
.cant-find-div {
  position: relative;
}
.add-person-form .main-selection .formInput,
.formInput {
  height: 32px;
  border-radius: 3px;
  border: 1px solid rgba(190, 190, 190, 0.5);
  background-color: #ffffff;
  &--groupd {

  }
  &--first {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &--last {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.countrySelect__wrapper {
  padding: 0 !important;
  &>select {
    background-color: white !important;
    border-radius: 0 !important;
    border: 1px solid rgba(190, 190, 190, 0.5) !important;
    font-size: 14px;
    font-weight: 400;
    padding: 2px 10px;
    line-height: 36px;
    color: #7f7f7f;
    height: 32px;
  }
}

.view-roles-custom-address-padding-fix {
  transform: translateX(8px);
}
