@import "../../../assets/styles/themeStyles";
form {
  padding: 15px 20px;
}

.owner-sign-link {
  padding-top: 8px;
  cursor: pointer;
  text-align: center;
  a {
    color: #44c7f4 !important;
    font-size: 14px;
  }
}
.grouped-select {
  // background-color: rgba(190, 190, 190, 0.5) !important;
  border-radius: 0 !important;
  border: 1px solid rgba(190, 190, 190, 0.5) !important;
  font-size: 14px;
  font-weight: 400;
  padding: 2px 10px;
  line-height: 36px;
  color: #7f7f7f;
}

.cant-find {
  padding-top: 11px;
  padding-right: 0 !important;
  font-weight: 600;
  color: $different-h1-font-color;
  cursor: pointer;
}

.dashed-place {
  text-align: center;
  padding-top: 12px;
  font-weight: 900;
  &--country {
    padding-top: 13px;
  }
}

.property-cancel-icon {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  left: 620px;
}
.custom-address-strt .property-cancel-icon{
  left: 612px;
}

.australian-address-check-box {
  padding-top: 3px;
}

.add-new-row {
  float: right;
}

.add-new-icon {
  margin-top: 14px;
  margin-right: 5px;
}

.resend-button {
  margin-top: 3px;
  width: 105px;
  height: 36px;
  border-radius: 10px;
  line-height: 36px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #1bc59a;
  border: none;
  cursor: pointer;
  margin-top: -10px;
}

.add-person-form {
  padding: 0;
  margin: 35px;
  background-color: #ffffff;
  .company-div {
    .input-width{
      margin-left: 7px;
    }

  }

  .mappify-address {
    .react-autosuggest__container {
      position: relative;
      margin-left: 39px;
    }

  
    .add-property-address{
      .react-autosuggest__input{
        margin-left: 0px;
        width: 99%;
      }
      .react-autosuggest__container{
        margin-left: 0px;
      }
      .react-autosuggest__suggestions-container--open{
        width: 101%;
      }
      .property-cancel-icon {
        width: 8%;
        position: unset;
        img {
          float: right;
          margin-top: 12px;
          margin-right: -3px;
        }
      }
    }

    .react-autosuggest__input {
      font-family: $different-primary-font ;
      padding: 0 1%;
      line-height: 30px;
      border-radius: 3px;
      border: 1px solid rgba(190, 190, 190, 0.5);
      background-color: #ffffff;
      width: 372px;
      font-size: 14px;
      font-weight: 400;
      margin-left: 0px;

      @media (max-width: $break-big-screen) {
        width: 260px;
      }
    }

    .react-autosuggest__input--focused {
      outline: none;
    }

    .react-autosuggest__input--open {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .react-autosuggest__suggestions-container {
      display: none;
    }

    .react-autosuggest__suggestions-container--open {
      display: block;
      position: absolute;
      border: 1px solid #aaa;
      background-color: #fff;
      font-family: $different-primary-font;
      font-weight: 300;
      font-size: 16px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      z-index: 2;
      width: 97.5%;
    }

    .react-autosuggest__suggestions-list {
      max-height: 200px;
      overflow-y: auto;
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    .react-autosuggest__suggestion {
      cursor: pointer;
      padding: 10px 6px;
      span{
        color: #7f7f7f;
      }
    }

    .react-autosuggest__suggestion--highlighted {
      background-color: #ddd;
    }

    .react-autosuggest__section-container {
      border-top: 1px dashed #ccc;
    }

    .react-autosuggest__section-container--first {
      border-top: 0;
    }
  }

  .add-property-form {
    width: 700px;
    .property-cancel-icon{
      left: 61%;
    }
  }
  .property-radio-button {
    width: 22px;
    height: 22px;
    border-radius: 100px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
  }

  .property-radio-value {
    line-height: 16px;
    opacity: 0.8;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    padding: 3px 8px;
    &--test-property {
      padding: 7px 8px;
    }
  }

  .view-person {
    padding-top: 25px !important;
  }

  .form-input {
    height: 32px;
    border-radius: 3px;
    border: 1px solid rgba(190, 190, 190, 0.5);
    background-color: #ffffff;
    font-size: 14px;
    &.address-field {
      border: none;
    }
  }

  .view-section {
    background-color: transparent;
    height: 0;
    padding-top: 10px !important;
    line-height: 19px;
    font-size: 16px;
    font-weight: 400;
  }

  .property-address{
    a {
      padding-top: 10px;
      cursor: pointer;
      line-height: 19px;
      font-size: 16px;
      font-weight: 400;
    }
  }

  .main-selection select {
    border: 0;
    font-size: 14px;
    font-weight: 400;
    padding: 2px 10px;
    border: none;
    line-height: 36px;
    font-family: $different-primary-font;
    color: #7f7f7f;
  }

  select:focus {
    outline-color: white;
    box-shadow: none;
  }

  .inner-form {
    @media screen and (min-width: $break-big-screen){
      padding: 18px 450px 110px 35px;
    }
    border-radius: 0 0 2px 2px;
  }

  .form-header {
    @media screen and (min-width: $break-big-screen){
      padding: 18px 36px;
    }
    background-color: #dfeaf5;
    margin: 0;
    border-radius: 2px 2px 0 0;

    h1 {
      margin: 0;
      padding: 0;

      .oval::before {
        content: '';
        opacity: 0.4;
        margin-left: 5px;
        margin-right: 5px;
        background-color: black;
        $size: 9px;
        width: $size;
        height: $size;
        border-radius: 50%;
        position: absolute;
        right: 0;
        bottom: 2px;
      }
      .oval {
        width: 22px;
        display: inline-block;
        height: 13px;
        position: relative;
      }
      
    }
  }

  .bottom-buttons {
    float: right;
    &.force-left {
      float: left;
      padding: 0;
    }
    button {
      margin: 40px 15px 0 0;
      width: 105px;
      height: 36px;
      border-radius: 10px;
      line-height: 16px;
      color: #ffffff;
      font-family: $different-primary-font;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      border: none;
      &.save-button {
        background-color: #9ecbe4;
        margin-right: 0;
      }
    }
  }

  h1 {
    line-height: 22px;
    color: #000000;
    font-family: $different-primary-font;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
  }
  label {
    height: 40px;
    opacity: 0.5;
    color: #000000;
    font-family: $different-primary-font;
    font-size: 16px;
    font-weight: 400;
    padding-top: 4px;
  }
  .element {
    padding: 1px 0;
    a {
      color: $different-table-font-color-blue;
    }
  }

  input:disabled {
    background: transparent;
    border: none;
    line-height: 19px;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    width: 90%;
  }
}

.form-select {
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px solid #dfdfdf !important;
}

.login-logo {
  img {
    height: 55px;
    padding: 20px;
  }
}

.hide-hover {
  .react-tel-input{
    pointer-events: none !important;
  }
}

.multi-property-display {
  padding-top: 12px;
  a {
    // height: 19px;
    color: #001b93;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    clear: left;
    float: left;
    &:first-of-type {
      margin-top: 0;
    }
    &:last-of-type {
      margin-bottom: 10px;
    }
  }
}

.EmailInputGroup {
  &__input {
    width: 90%;
  }
  &__icon {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  left: 612px;
  }
}

.add-person-form {
  .inner-form {
    position: relative;
  }
  .has-stripes {

    .name-input {
      width: 101%;
      .single-input{
        padding-left: 8px;
        label {
          padding-left: 0px;
        }
      }
    }
    .mail-row {
      &:after {
        content: '';
        border-top: 1px solid #efefef;
      }
    }

    .form-group {
      margin-bottom: 0px;
      &:after {
        content: '';
        border-top: 1px solid #efefef;
        display: inline-block;
        width: 100%;
        position: absolute;
        height: 47px;
        pointer-events: none;
        left: 0;
        margin-top: -10px;
      }
    }
  }
}
.add-person-form--lined {
  .form-group.element {
    &:after{
        content: '';
        border-bottom: 1px solid #efefef;
        display: inline-block;
        width: 100%;
        position: absolute;
        height: 47px;
        pointer-events: none;
        left: 0;
        margin-top: -3px;
    }
  }
}

.form-group {
  .react-tel-input .flag-dropdown {
      background-color: transparent;
      border: 0;
  }
}

.button-group {
  .button:not(:first-of-type) {
    margin-left: 10px;
  }
}

.button {
  width: 105px;
  height: 40px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background-color: #cad5e0;
  &_main {
    background-color: #9ecbe4;
  }
}

.person-role-form {
  .button:not(:first-of-type) {
    margin-left: 10px;
  }
  .action-buttons {
    padding-top: 20px;
    margin-left: 207px !important;
  }
}

.phone-flag-div {
  margin-left: 9px;
}

.diff-phone-input {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid rgba(190, 190, 190, 0.5);
  border-radius: 3px;
  margin-top: -2px;
  width: 379px;
  margin-left: 30px;
  position: relative;
  input.form-input {
    border: none;
    border-radius: 0;
    padding: 0 5px;
    width: 100%;
    box-sizing: border-box;
  }
  &>li {
    display: table-cell;
    &:first-of-type {
      padding: 0 5px;
      background-color: #f0f0f0;
    }
    &:last-of-type {
      width: 100%;
    }
  }

  &--edit {
    border-color: transparent;
    margin-left: 34px;
      &>li {
    &:first-of-type {
      background-color: #fff;
    }
  }

  }
}

.faded {
  opacity: .3;
  width: 99.5%;
}


.headless {
  &:last-of-type {
    padding-bottom: 1px;
  }
  &:not(:last-of-type) {
    border-bottom: 2px solid #f0f0f0;
  }
  .add-person-form .inner-form {
  padding-bottom: 0;
  padding-left: 0;
  width: 650px;
  }

}

.diff-resend-button {
  position: absolute;
  top: 19px;
  right: 9px;
}

.display-table {
  display: table;
  width: 100%;
}

.table-cell {
  display: table-cell;
}

.text-left {
  text-align: left;
}
.search-input.email-validation {
  $error-color: #fa6161;

    .email-validation__message {
      height: 14px;
      color: $error-color;
      font-size: 12px;
      font-weight: 500;
      padding-left: 10px;
  }
  &.invalid {
    input {
      border-color: $error-color !important;
    }
  }
}

.google-signin-button {
  &--margin-top {
    margin-top: 20px;
  }
}

#google-signin {
  margin-right: 0px !important;
}

.add-person-form .main-selection
.countrySelect__wrapper {
  select {
    width: 100%;
  }
}

.col-xs-no-padding {
  padding-left: 0 !important;
  position: relative;
  &.search-input.search-input--default input {
    padding-right: 0 !important;
  }
}

.LoginFormAndi {
  height: 155px;
  margin: 0 auto;
  display: block;
}

.MA-cancelIcon {
  width: 20px;
}

.MA-cantFind {
  color: #1ee590;
  //text-decoration: underline;
  float: right;
  font-weight: bold;
  font-size: 12px;
  // border-bottom: #1ee590 1px solid;
  display: inline-block;
}

.search-icon {
  content: url('../../../assets/images/search.svg');
  position: absolute;
  right: 10px;
  top: 12px;
}

.action-buttons{
  margin-top: 22px;
  margin-left: 216px !important;
}

.custom-address {
  margin-top: 5px;
}

.input-width{
  max-width: 420px !important;
}

.react-phone-number-input{
  float: left !important;
  position: absolute;
}

.react-phone-number-input__phone {
  display: none;
}

.react-phone-number-input__icon {
    width: 30px !important;
    height: 20px !important;
    border: none !important;
    margin-top: 5px !important;
  }
.rrui__select__arrow{
  margin-left: -2px !important;
}

.rrui__select__button{
  border: none !important;
}


.add-person-form--new-person{
  &--role{
    .main-selection select{
      max-width: 419px;
      height: 32px;
      margin-left: 9px;
    }

    .inner-form {
      width: 800px;
      .EmailInputGroup__icon {
        left: 704px;
        top: 70px;
      }
      .single-input input {
        margin-left: 7px;
      }
      .react-autosuggest__input {
        margin-left: -40px !important;
        width: 409px;
      }
      .category .input-width {
        max-width: 434px !important;
      }
      .action-buttons {
        margin-left: 265px !important;
      }
      .web-input div {
        position: relative;
      }
      .custom-address-comp {
        .col-xs-8 {
          margin-left: unset;
          max-width: 420px;
        }

      }
      .countrySelect__wrapper {
        margin-left: -10px !important;
      }
      .dashed-place {
        margin-left: 9px !important;
      }
      .formInput--first {
        margin-left: 0px;
        border-right: inset !important;
      }
      .property-cancel-icon img {
        position: absolute !important;
        right: -113px !important;
        top: 21px !important;
      }
    }

  }
  margin-bottom: 0px;
  margin-left: 15px;
  .inner-form{
    padding-left: 0px !important;
    width: 650px;
    padding-bottom: 30px;
  }
  .phone-flag-div {
    margin-left: 2px;
  }
  .react-autosuggest__container{
    margin-left: -7px !important;
    input {
      width: 408px !important;
    }
    .react-autosuggest__suggestions-container--open{
      width: 95.6%;
    }
  }
  .input_field {
    width: 419px;
    margin-left: -16px;
  }
  .add-person-nput-width{
    max-width: 420px !important;
    margin-left: -8px !important;
  }
}


.rrui__select__options{
  margin-left: 20px !important;
}

.address-disabled{
  margin-left: 40px !important;
}

//tradies section
.tradie {

  .inner-form {
    padding-left: 0px;
    width: 800px;
  }
  .EmailInputGroup__icon {
    left: 670px;
  }
  .action-buttons {
    margin-left: 265px !important;
  }
  .tradie-section {
    .react-autosuggest__container {
      margin-left: 0px !important;
      input {
        width: 410px !important;
      }
    }

    .web-input {
      div {
        position: relative;
      }
    }
    .company-input {
      input {
            margin-left: 8px;
      }
    }

    .category {
      .input-width {
        max-width: 436px !important;
        margin-left: 8px;
      }
    }
    .MA-cantFind {
      margin-left: 50px;
    }

    .property-cancel-icon {
      left: 670px;
      top: 103px;
    }
    .col-xs-11 {
      margin-top: 2px;
    }
  }
}



//////////////////////inspector section///////////////////

.inspector {
  .inner-form {
    padding-left: 0px;
    width: 800px;
  }
  .property-cancel-icon {
    left: 670px;
    top: 103px;
  }
  .EmailInputGroup__icon {
    left: 670px;
  }
  .action-buttons {
    margin-left: 265px !important;
  }
  .MA-cantFind {
    margin-left: 50px;
  }
  .col-xs-11 {
    margin-top: 2px;
  }
  .react-autosuggest__container {
    margin-left: 0px !important;
    input {
      width: 410px !important;
    }
  }
}

.admin-padding-adjustment {
  &.maintenance-dashboard-property, &.add-person-form, &.add-person-form-ta {
    margin-top: 5px;
    margin-left: 17px;
    margin-right: 0;
  }
  &.maintenance-dashboard-property {
    padding: 0;
  }
}

