.leases-section {
  padding: 30px;
  min-height: 550px; }
  .leases-section .leases-header-section {
    line-height: 25px;
    color: #ffa151;
    font-family: muli;
    font-size: 22px;
    font-weight: 500; }
    .leases-section .leases-header-section:before {
      padding-right: 10px;
      content: url("../../../../assets/images/no-lease-icon.png"); }
  .leases-section .leases-header-section-has {
    line-height: 25px;
    color: #2de8ae;
    font-family: muli;
    font-size: 22px;
    font-weight: 500; }
    .leases-section .leases-header-section-has:before {
      padding-right: 10px;
      content: url("../../../../assets/images/active-lease.png"); }
  .leases-section .leases-header-section-has-inactive {
    line-height: 25px;
    color: #fa6161;
    font-family: muli;
    font-size: 22px;
    font-weight: 500; }
    .leases-section .leases-header-section-has-inactive:before {
      padding-right: 10px;
      content: url("../../../../assets/images/dishonoured.png"); }
  .leases-section .status-sub-header-text {
    margin-top: 10px;
    line-height: 16px;
    color: #9a9da1;
    font-size: 14px;
    font-weight: 500; }
    .leases-section .status-sub-header-text a {
      color: #4568bd;
      font-weight: 400; }
  .leases-section .lease-detail-section {
    margin-top: 36px; }
  .leases-section .lease-fields {
    padding-top: 13px;
    line-height: 16px;
    opacity: 0.8;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize; }
  .leases-section .add-lease-button {
    cursor: pointer;
    margin-top: 30px;
    width: max-content;
    border-radius: 10px;
    border: 1px solid #98b1c9;
    color: #98b1c9;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 25px;
    margin-right: 12px; }
  .leases-section [type="radio"]:checked,
  .leases-section [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px; }
  .leases-section [type="radio"]:checked + label,
  .leases-section [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 36px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666; }
  .leases-section [type="radio"]:checked + label:before,
  .leases-section [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff; }
  .leases-section [type="radio"]:checked + label:after,
  .leases-section [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 8px;
    height: 8px;
    background: #717c8a;
    position: absolute;
    top: 8px;
    left: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .leases-section [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0); }
  .leases-section [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }
  .leases-section .lease-row {
    height: 41px; }
    .leases-section .lease-row label {
      padding-top: 3px;
      padding-right: 24px;
      opacity: 0.8;
      color: #000000 !important;
      font-size: 16px;
      font-weight: 400; }
    .leases-section .lease-row .lease-row-label {
      opacity: 0.5;
      color: #000000 !important;
      font-size: 16px;
      font-weight: 400;
      padding-top: 9px; }
    .leases-section .lease-row [type="number"] {
      height: 36px;
      border-radius: 3px;
      border: 1px solid rgba(190, 190, 190, 0.5);
      padding-left: 45px; }
    .leases-section .lease-row .rent-prefix {
      position: relative;
      top: -39px;
      padding-left: 12px;
      width: 21px;
      background-color: #f0f0f0;
      line-height: 38px;
      opacity: 0.6;
      color: #000000;
      font-size: 14px;
      font-weight: 400; }
    .leases-section .lease-row input[type=number]::-webkit-inner-spin-button,
    .leases-section .lease-row input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0; }
    .leases-section .lease-row select {
      width: 170px;
      height: 36px;
      line-height: 16px;
      opacity: 0.8;
      color: #000000;
      font-size: 14px;
      font-weight: 400;
      border: none;
      margin-top: 4px;
      background-color: transparent; }
    .leases-section .lease-row .calculated-rent-message {
      margin-top: 15px;
      margin-bottom: 15px;
      width: fit-content;
      padding-right: 20px;
      padding-left: 20px;
      line-height: 41px;
      border-radius: 8px;
      background-color: #f5f8f9;
      color: #000000;
      font-size: 18px;
      font-weight: 500; }
    .leases-section .lease-row .lease-date-section {
      line-height: 16px;
      opacity: 0.8;
      color: #000000;
      font-size: 14px;
      font-weight: 400;
      position: relative;
      top: -30px; }
      .leases-section .lease-row .lease-date-section input {
        padding-left: 31px !important; }
    .leases-section .lease-row .TO-date-picker {
      margin-top: -10px; }
    .leases-section .lease-row .lease-date-section:before {
      content: url("../../../../assets/images/calender-icon.png");
      position: relative;
      top: 34px;
      padding-bottom: 5px; }
    .leases-section .lease-row .lease-end-or-label {
      line-height: 16px;
      opacity: 0.8;
      color: #9a9da1;
      font-size: 14px;
      font-weight: 400;
      text-align: right;
      padding-top: 7px; }
    .leases-section .lease-row .drop-zone-body-content {
      text-align: center; }
      .leases-section .lease-row .drop-zone-body-content .submitted-content {
        height: 100%;
        background-color: rgba(209, 209, 209, 0.2);
        border-radius: 8px; }
      .leases-section .lease-row .drop-zone-body-content .DA-Uploader__clear {
        position: relative;
        left: 196px;
        top: 8px; }
      .leases-section .lease-row .drop-zone-body-content img {
        padding-top: 25px;
        padding-bottom: 10px; }
      .leases-section .lease-row .drop-zone-body-content .drop-zone-text {
        line-height: 16px;
        color: rgba(0, 0, 0, 0.4);
        font-size: 14px;
        font-weight: 400;
        color: #000000; }
        .leases-section .lease-row .drop-zone-body-content .drop-zone-text span {
          color: #256bd5; }
    .leases-section .lease-row button {
      margin-right: 20px; }

/*# sourceMappingURL=leases.css.map */
