/* Aktiv Grotesk Regular */

@font-face {
  font-family : 'aktiv-grotesk';
  src: url('../fonts/Aktiv/Aktiv/AktivGroteskStdReg.ttf') format('truetype');
  font-weight : normal;
  font-style : normal;
}

@font-face {
  font-family : 'aktiv-grotesk-medium';
  src: url('../fonts/Aktiv/Aktiv/AktivGroteskStdMd.ttf') format('truetype');
  font-weight : normal;
  font-style : normal;
}

@font-face {
  font-family : 'aktiv-grotesk-bold';
  src: url('../fonts/Aktiv/Aktiv/AktivGroteskStdBd.ttf') format('truetype');
  font-weight : normal;
  font-style : normal;
}

@font-face {
  font-family : 'muli-light';
  src: url('../fonts/Muli/Muli-Light.ttf') format('truetype');
  font-weight : normal;
  font-style : normal;
}

@font-face {
  font-family : 'muli';
  src: url('../fonts/Muli/Muli-Regular.ttf') format('truetype');
  font-weight : normal;
  font-style : normal;
}

@font-face {
  font-family : 'muli-medium';
  src: url('../fonts/Muli/Muli-SemiBold.ttf') format('truetype');
  font-weight : normal;
  font-style : normal;
}
@font-face {
  font-family : 'muli-bold';
  src: url('../fonts/Muli/Muli-Bold.ttf') format('truetype');
  font-weight : normal;
  font-style : normal;
}
