$different-primary-font : muli;
$different-primary-font-light : muli-light;
$different-primary-font-medium: muli-medium;
$different-primary-font-bold: muli-bold;

$different-red: #ff5a61;
$different-primary-color : #148855;
$different-bg-color: #f5f7fa;
$different-login-button-color: #9ecbe4;


$different-menu-font-color: #000000;
$different-menu-font-color-active: #355cb3;
$different-menu-hover-color: #cecece;
$different-h1-font-color: #4a4a4a;
$different-font-color: #333333;

$different-menu-border-color: #979797;
$different-table-border-color: #ddd;

$different-form-element-fill-color: #e9e9e9;
$different-table-font-color-blue: #4a90e2;

$different-form-up-gradient: #f3f3f3;
$different-form-down-gradient: #d4d4d4;

$different-radio-select: #4990e2;

$break-small-screen: 576px;
$break-big-screen: 1024px;

$top-bar-height: 59px;
