.payment-section{
  padding: 45px 35px !important;

  .left-padded-label {
    padding-left: 10px;
  }

  .dollar-sign-payment {
    margin-right: 5px;
    background: transparent;
    border: none;
    line-height: 19px;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    padding-top: 10px;
  }

  .force-right {
    float: right;
  }

  .note-text {
    color: red;
    font-size: 12px;
    padding: 20px;
  }
}

.paymentRadio {
  display: inline-table;
  &:not(:first-of-type) {
    margin-left: 40px;
  }
  &__item {
    display: table-cell;
    vertical-align: bottom;
    margin: 0;
  }
}
label.paymentRadio__item {
  padding-top: 0;
  height: 0;
}

.paymentRow {
  padding-top: 9px;
}