@import "../../../../assets/styles/themeStyles";
.schedule-section{
  background-color: #ffffff;
  padding-bottom: 100px;
  span {
    color: #000;
  }
  .Dishonoured {
    color: #e93600;
  }

  .not-found {
    padding-top: 30px;
    text-align: center;
  }

  .Cleared, .Approved {
    color: #1CC59A;
  }

  .Pending {
    color: #ddc700;
  }

  .Submitted {
    color: #45C7F5;
  }

  .Cancelled {
    color: #FA6161;
  }

  .Upcoming {
    color: #B2B2B2;
  }

  .payment-status {
    font-family: $different-primary-font;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
  }

  .schedule-custom-header{
    color: #000000;
    font-family: $different-primary-font;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
  }

  .ReactTable .rt-thead .rt-th, .ReactTable .rt-thead .rt-td {
    &:before {
      content: '';
    }
  }

  .ReactTable .rt-tbody .rt-tr-group {
    border-bottom: none;
  }

  .table-field {
    color: #000000;
    font-family: $different-primary-font;
    font-size: 14px;
    line-height: 16px;
  }

  .shaded-table-field {
    color: #B2B2B2;
    font-family: $different-primary-font;
    font-size: 14px;
    line-height: 16px;
  }

  .head-section {
    margin: 20px 32px 8px 32px;
    .header-message {
      font-family: $different-primary-font;
      font-size: 22px;
      font-weight: 500;
      line-height: 26px;
    }

    .total-times-in-arrear {
      padding: 6px 15px;
      color: #515F6C;
      font-family: $different-primary-font;
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
    }

    .Dishonoured {
      &:before {
        padding-right: 10px;
        content: url("../../../../assets/images/dishonoured.png");
      }
    }
  }

  .force-right {
    float: right;
  }
}

.ReactTable.paymentSchedulesTable {
  @mixin tablePadding() {
    padding-left: 20px;
    padding-right: 0;
    &:first-of-type {
      padding-left: 30px;
    }
  }
  .rt-tbody .rt-td {
    @include tablePadding();
  }
  .rt-thead .rt-th {
    @include tablePadding();
  }
}